.root {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
  border-radius: var(--mui-shape-borderRadius);
  margin-bottom: calc(var(--mui-spacing) * 2);
  background: var(--mui-palette-background-paper);
  padding: calc(var(--mui-spacing) * 4) calc(var(--mui-spacing) * 2);
  gap: calc(var(--mui-spacing) * 2);

  /*opacity: 0;*/
  /*transform: rotate3d(1, 0, 0, -60deg);*/
  /*animation: rotate 0.6s ease-out both;*/
  /*animation-timeline: view();*/
  /*animation-range: entry 30% cover 80%;*/
  /*animation-delay: 0s;*/
}

.imageContainer {
  border-radius: var(--mui-shape-borderRadius);
  background: var(--mui-palette-background-default);
  padding: calc(var(--mui-spacing) / 2);
  position: relative;
  z-index: 1;
  /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25),*/
  /*0 25px 50px rgba(0, 0, 0, 0.35),*/
  /*0 60px 80px rgba(0, 0, 0, 0.25);*/

  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
  height: auto;
  display: flex;
  background: linear-gradient(#050505, #333333);
  /*background: #000;*/

  /*opacity: 0;*/
  /*!*transform: translateX(-90px);*!*/
  /*animation: reveal 0.6s ease-out both;*/
  /*animation-timeline: view();*/
  /*animation-range: entry 30% cover 40%;*/
  /*animation-delay: 0s;*/
}

/*@keyframes rotate {*/
/*  to {*/
/*    opacity: 1;*/
/*    transform: rotate3d(0, 0, 0, 0);*/
/*  }*/
/*}*/

@keyframes reveal {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.imageContainer::after {
  content: "";
  position: absolute;
  inset: 20px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  filter: blur(40px);
  transform: translate(30px, 40px);
}

.image {
  min-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: calc(var(--mui-shape-borderRadius) / 1.5);
}

.content {
  flex: 1;
  max-width: 600px;
  font-size: 1.25rem;
  font-weight: 500;
  /*margin-left: calc(var(--mui-spacing) * -2);*/
  /*margin-right: calc(var(--mui-spacing) * -2);*/
  /*border-radius: 12px;*/
  /*box-shadow: var(--mui-shadows-5);*/
  padding: var(--mui-spacing);
  /*backdrop-filter: blur(10px);*/
  /*background: rgb(from var(--mui-palette-background-paper) r g b / .6)*/

  /*opacity: 0;*/
  /*transform: translateY(210px);*/
  /*animation: reveal 0.6s ease-out forwards;*/
  /*animation-timeline: view();*/
  /*animation-range: entry 0% cover 30%;*/
  /*animation-delay: 1s;*/
}

.title {
  font-size: 1.25em;
  font-weight: 700;
}

.desc {
  font-weight: 500;
  /*color: var(--mui-palette-text-secondary);*/
  font-size: 1.1em;
}
